:root{
  --color1 : #ffb94900;
  --color2 : #24f57800;
  --color3 : #aaeaf5;
  /*--colorfull: linear-gradient(180deg,#ade8f4 0%,#00b4d8 100% );*/
  --colorfull: rgb(255, 255, 255);
  
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
*{
    box-sizing: border-box;
  }
  
  html {
    font-family: 'Nunito', sans-serif;
    
    overflow-x: hidden;
    margin : 0;
  }
@media screen and (min-width:140px) {
  iframe{
    width : 100%;
    height : 6vh;
    border: 2px solid black;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    background: #ffffff;
    flex-direction: row;
    display :flex;
    row-gap : 10%;
 }
  .grid{
    width: 100vw;
    height: 300vh;
    display :flex;
    flex-direction: column;
    /*align-items: center;
    justify-content: center;*/ 
    background: var(--colorfull);
  }
  .grid2{
    width: 100%;
    height: 33%;
    display :flex;
    align-items: center;
    justify-content: center;
    
  }
  .grid3{
      width: 100%;
      height: 45%;
      display :flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      flex-wrap: wrap;
      row-gap: 10%; 
  }
  .grid4{
    width: 100%;
    height: 30%;
    display :flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg,var(--color2) 0%, var(--color3) 5%,var(--color3) 95%, var(--color2) 100%);
    flex-wrap: wrap;
    gap : 10vw;
    row-gap : 50px;
    /*flex-direction: line;*/
  }
  invbox{
    border: 1px solid #00000000; 
  }
  .box1{
    position: relative;
    align-self: center;
    width: 78%;
    height : 80%;
    font-weight: 400;
    font-size: calc((5vw + 5vh)/2) ;
    text-align:center;
    display: table;
    color : #ffffff;
    border-radius: calc((8vw + 8vh)/2) ;
    background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/enfant1.jpg");
    background-size: cover;
    border: 1px solid #00000000;
    
    

  }
  .box1 span{
    vertical-align:middle;
    display: table-cell;
  }
  .box2{
    position: relative;
    align-self: center;
    width: 60%;
    height : 45%;
    font-weight: 400;
    font-size: 36px;
    display: flex; 
    background:  #ffffff1a;
    text-align: justify;
    text-justify: inter-word;
    flex-direction: column;
    border: 1px solid #000000;
    
  }
  h1{
    margin-left: auto ;
    margin-right: auto;
    font-size: calc((3vw + 3vh)/2) ;
  }
  p{
    margin-left: 10px ;
    margin-right: 10px;
    font-size: calc((1.8vw + 1.8vh)/2) ;
  }
  .box3{
    position: relative;
    align-self: center;
    width: 30%;
    height : 45%;
    font-weight: 400;
    display: flex; 
    border: 1px solid #000000;
   
    
  }
  #objectif{
    background-image:url("../img/enfant2.jpg");
    background-size: cover;
  }
  #propose{
    background-image:url("../img/enfant3.jpg");
    background-size: cover;
    background-position-x: center;
  }
  
  .box4{
    position: relative;
    align-self: center;
    top : 5%;
    width: 10%;
    aspect-ratio: 1 / 1.5;
    border : 1px solid #000000;
    font-weight: 400;
    font-size: 36px;
    display: flex; 
    background: #a1a1a100;
    flex-direction: column;
  }
  .box5{
    
    position: relative;
    aspect-ratio: 1 / 1;
    width: 100%;
    background: #949494;
    border-radius: 100%;
  }
  .box6{
    position: relative;
    align-self: center;
    top : 20px;
    width: 190%;
    height : 12%;
    max-height : 50px;
    font-size: 36px;
    display: flex; 
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    font-size : 1.8vw;
    background: #ffffff;
  }
}