@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
*{
    box-sizing: border-box;
  }
  
  html {
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
    margin : 0;
  }
@media screen and (min-width:140px) {
   .grid1{
    position: relative;
    box-sizing: border-box;
    width: 100vw;
    height: 120vh;
    display :flex;
    flex-direction: column;
    margin : 0;
    
  }
    .barreup{
      position: relative;
      box-sizing: border-box;
      width : 100%;
      height : 75px;
      border: 1px solid #000000;
    }
   .grid2{
    position: relative;
    box-sizing: border-box;
    width : 100%;
    height : 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap : 5%;

  }
  .box1{
    position: relative;
    box-sizing: border-box;
    width : 50%;
    height : auto;
    font-size:calc((4vw + 4vh)/2) ;

  }
  .recherche{
    position: relative;
    box-sizing: border-box;
    width : 22vw;
    height : 6vh;
    border: 1px solid #000000;
    font-size:calc((1.5vw + 1.5vh)/2) ;
    background: #abe0ff;
  }
  .grid3{
    position: relative;
    box-sizing: border-box;
    width : 100%;
    height : 75%;
    display: flex;
    flex-direction: column;
    gap:5%;
  }
  .letter{
    position: relative;
    box-sizing: border-box;
    width : 100%;
    height : auto;
    font-size:calc((2vw + 2vh)/2) ;
    border-top: 1px solid #000000;
    padding: 10px;
  }
  .box2{
    position: relative;
    box-sizing: border-box;
    width : 100%;
    height : auto;  
    display: flex;
    justify-content:space-evenly; 
    row-gap: 10px;
  }
  .trouble{

    position: relative;
    box-sizing: border-box;
    aspect-ratio: 1 / 1;
    background: #abe0ff;
    border-radius: 100%;
    font-size: auto;
    display: flex;
    align-items: center;

    
    }
    .trouble.notover{
      
      width: 12%;
    }
    .trouble.over{
      width: 12.5%;
      top : -5px;
      border: 1px solid #656565ab;
      box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4);
    }
    .txttrouble{
      width: auto;
      box-sizing: border-box;
      height: auto;
      margin: auto;
      font-size:calc((1.9vw + 1.9vh)/2) ;
      font-weight: 800;
    }
    #_1{
      background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #FF9E9E 100%);;
    }
    #_2{
      background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #ffe283 100%);
    }
    #_3{
      background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #FF9DFF 100%);
    }
    

}

