@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
*{
    box-sizing: border-box;
  }
  
  html {
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
    margin : 0;
  }

@media screen and (min-width:140px) {
   .grid{
    width: 100vw;
    height: 100vh;
    display :flex;
    flex-direction: column;
    background: var(--colorfull);
    
  }

   .liste{
    width : 100%;
    height : 90%;
    margin-top : 2.5%;
    /*display :flex;*/
    border: 1px solid #000000;
  }

   .txt1{
    position: relative;
    width: 50%;
    height : 10%;
    font-weight: 400;
    font-size: 36px;
    display: flex; 
    text-align: justify;
    text-justify: inter-word;
    flex-direction: column;
    border: 1px solid #000000;

   }

   .txt2{
    position: relative;
    width: 100%;
    height : 90%;
    font-weight: 400;
    font-size: 36px;
    display: flex; 
    text-align: justify;
    text-justify: inter-word;
    flex-direction: row;
    gap : 10%;
    flex-wrap : wrap;
    border: 1px solid #000000;
   }

    titre1{
    width: 100%;
    height: 50%;
    font-size: calc((2vw + 2vh)/2);
    border: 1px solid #000000;
   }

   titre2{
    width: 100%;
    height: 5%;
    font-size: calc((2vw + 2vh)/2);
    border: 1px solid #000000;
   }

    .recherche{

        position: relative;
        width: 40%;
        height: 50%;
        text-indent: 10px;
        background: #abe0ff;
        font-size: calc((2vw + 2vh)/2); 
        border: 1px solid #000000;
    }

     .trouble{

        position: relative;
        aspect-ratio: 1.45 / 1;
        width: 10%;
        background: #abe0ff;
        border-radius: 100%;
        border: 1px solid #000000;
        font-size: auto;
    }

}

