@import url('https://fonts.googleapis.com/css2?family=Inter&family=Work+Sans:wght@700&display=swap');



@media screen and (min-width:1400px){
    html{
        font-size: 16px;
    }
    body{
        margin: 0;
    }
    
    .container{
        width: 100%;
        height: 180vh;
        display: flex;
        flex-direction: column;
        justify-content:start;
        align-items: center;
        margin-top: 5%;
    }

    .headContainer{
        width: 80%;
        height: 10%;
        font-family: 'Inter', sans-serif;;
        color: gray;
        font-size: 40px;
        text-decoration: overline;
        
        position: relative;
        top:5px;
        left: 10rem;
    
    }
    .arrow{
        position: absolute;
        left:-25%;
        top:-40%;

        border:none;
        background-color: white;
        color:gray;
    }
    .arrow:hover{
        color:#1B98E0;
    }
    .mainContainer{
        width: 60%;
        height: 120vh;
        border-left: solid gray;
        border-right:solid gray;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    
        display: flex;
      
    
      
    }
    
    .formContainer{
        position: relative;
        left: 20%;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        row-gap: 30px;
        
        
    }
    .infoPerso{
        text-decoration: underline;
        font-family: 'Inter', sans-serif;
        color: #1B98E0;
    }
    label{
        font-family: 'Inter', sans-serif;;
        color:gray;
    
    
    }
    .inputBar{
      width: 60%;
      height: 5%;
      border: none;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border-radius: 5px;
    
    }
    .inputBar:focus{
        border: #1B98E0;
    }
    .sauvegarder{
        width: 80%;
        position: relative;
        top: 5%;
        left:-8%;
        
        font-family: "Inter",sans-serif;
        color: aliceblue;
        background-color: #1B98E0;
    }
    
    .modal{
        position:absolute;
        top:50%;
        left:30%;
        align-self:flex-start;
        justify-self: center;
        height: 40%;
        width: 40%;
        display: none;
        flex-direction: column;
    
        row-gap: 25%;
        border: 5px solid gray;
        background-color: rgb(201, 200, 200);
        position: absolute;
        
    }
    .headModal{
        width: 100%;
        height: 19%;
       
        background-color: #1B98E0;
    }
    
    .textModal{
        position: relative;
        
        align-self: center;
        font-family: "Inter",sans-serif;
        color: aliceblue    ;
    }
    .btnContainer{
    
        width: 100%;
        
        position: relative;
        bottom: 10%;
        right: 5%;
        display: flex;
        flex-direction: row;
        justify-content: end;
        column-gap: 5%;
        
    }
    .modalBtn{
        width: 100px;
        height: 35px;
    
        ;
        border: none;
        font-family: "Inter",sans-serif;
        background-color: #1B98E0;
        color: aliceblue;
    }
    .closeIcon{
        cursor: pointer;
    }
    
}
@media screen and (max-width:1400px) and ( min-width:1200px ) {
    html{
        font-size: 16px;
    }
    body{
        margin: 0;
    }
    
    .container{
        width: 100%;
        height: 180vh;
        display: flex;
        flex-direction: column;
        justify-content:start;
        align-items: center;
        margin-top: 5%;
    }
    .headContainer{
        width: 80%;
        height: 10%;
        font-family: 'Inter', sans-serif;;
        color: gray;
        font-size: 40px;
        text-decoration: overline;
        
        position: relative;
        top:5px;
        left: 10rem;
    
    }
    .arrow{
        position: absolute;
        left:-25%;
        top:-40%;

        border:none;
        background-color: white;
        color:gray;
    }
    .arrow:hover{
        color:#1B98E0;
    }
    .mainContainer{
        width: 60%;
        height: 120vh;
        border-left: solid gray;
        border-right:solid gray;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    
        display: flex;
      
    
      
    }
    
    .formContainer{
        position: relative;
        left: 20%;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        row-gap: 30px;
        
        
    }
    .infoPerso{
        text-decoration: underline;
        font-family: 'Inter', sans-serif;
        color: #1B98E0;
    }
    label{
        font-family: 'Inter', sans-serif;;
        color:gray;
    
    
    }
    .inputBar{
      width: 60%;
      height: 5%;
      border: none;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border-radius: 5px;
    
    }
    .inputBar:focus{
        border: #1B98E0;
    }
    .sauvegarder{
        width: 80%;
        position: relative;
        top: 5%;
        left:-8%;
        
        font-family: "Inter",sans-serif;
        color: aliceblue;
        background-color: #1B98E0;
    }
    
    .modal{
        position:absolute;
        top:50%;
        left:30%;
        align-self:flex-start;
        justify-self: center;
        height: 60%;
        width: 40%;
        display: none;
        flex-direction: column;
    
        row-gap: 25%;
        border: 5px solid gray;
        background-color: rgb(201, 200, 200);
        position: absolute;
        
    }
    .headModal{
        width: 100%;
        height: 19%;
       
        background-color: #1B98E0;
    }
    
    .textModal{
        position: relative;
        
        align-self: center;
        font-family: "Inter",sans-serif;
        color: aliceblue    ;
    }
    .btnContainer{
    
        width: 100%;
        
        position: relative;
        bottom: 10%;
        right: 5%;
        display: flex;
        flex-direction: row;
        justify-content: end;
        column-gap: 5%;
        
    }
    .modalBtn{
        width: 100px;
        height: 35px;
    
        ;
        border: none;
        font-family: "Inter",sans-serif;
        background-color: #1B98E0;
        color: aliceblue;
    }
    .closeIcon{
        cursor: pointer;
    }
       
}
@media screen and (max-width:1200px) and (min-width:992px){
    html{
        font-size: 16px;
    }
    body{
        margin: 0;
    }
    
    .container{
        width: 100%;
        height: 180vh;
        display: flex;
        flex-direction: column;
        justify-content:start;
        align-items: center;
        margin-top: 5%;
    }
    .headContainer{
        width: 80%;
        height: 10%;
        font-family: 'Inter', sans-serif;;
        color: gray;
        font-size: 40px;
        text-decoration: overline;
        
        position: relative;
        top:5px;
        left: 10rem;
    
    }
    .arrow{
        position: absolute;
        left:-30%;
        top:-40%;

        border:none;
        background-color: white;
        color:gray;
    }
    .arrow:hover{
        color:#1B98E0;
    }
    .mainContainer{
        width: 60%;
        height: 120vh;
        border-left: solid gray;
        border-right:solid gray;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    
        display: flex;
      
    
      
    }
    
    .formContainer{
        position: relative;
        left: 20%;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        row-gap: 30px;
        
        
    }
    .infoPerso{
        text-decoration: underline;
        font-family: 'Inter', sans-serif;
        color: #1B98E0;
    }
    label{
        font-family: 'Inter', sans-serif;;
        color:gray;
    
    
    }
    .inputBar{
      width: 60%;
      height: 5%;
      border: none;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border-radius: 5px;
    
    }
    .inputBar:focus{
        border: #1B98E0;
    }
    .sauvegarder{
        width: 80%;
        position: relative;
        top: 5%;
        left:-8%;
        
        font-family: "Inter",sans-serif;
        color: aliceblue;
        background-color: #1B98E0;
    }
    
    .modal{
        position:absolute;
        top:50%;
        left:30%;
        align-self:flex-start;
        justify-self: center;
        height: 60%;
        width: 40%;
        display: none;
        flex-direction: column;
    
        row-gap: 25%;
        border: 5px solid gray;
        background-color: rgb(201, 200, 200);
        position: absolute;
        
    }
    .headModal{
        width: 100%;
        height: 19%;
       
        background-color: #1B98E0;
    }
    
    .textModal{
        position: relative;
        
        align-self: center;
        font-family: "Inter",sans-serif;
        color: aliceblue    ;
    }
    .btnContainer{
    
        width: 100%;
        
        position: relative;
        bottom: 10%;
        right: 5%;
        display: flex;
        flex-direction: row;
        justify-content: end;
        column-gap: 5%;
        
    }
    .modalBtn{
        width: 100px;
        height: 35px;
    
        ;
        border: none;
        font-family: "Inter",sans-serif;
        background-color: #1B98E0;
        color: aliceblue;
    }
    .closeIcon{
        cursor: pointer;
    }
    
}
@media screen and (max-width:992px) and (min-width:768px){
    html{
        font-size: 16px;
    }
    body{
        margin: 0;
    }
    
    .container{
        width: 100%;
        height: 180vh;
        display: flex;
        flex-direction: column;
        justify-content:start;
        align-items: center;
        margin-top: 5%;
    }
    .headContainer{
        width: 80%;
        height: 10%;
        font-family: 'Inter', sans-serif;;
        color: gray;
        font-size: 40px;
        text-decoration: overline;
        
        position: relative;
        top:5px;
        left: 10rem;
    
    }
    .arrow{
        position: absolute;
        left:-33%;
        top:-40%;

        border:none;
        background-color: white;
        color:gray;
    }
    .arrow:hover{
        color:#1B98E0;
    }
    .mainContainer{
        width: 60%;
        height: 120vh;
        border-left: solid gray;
        border-right:solid gray;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    
        display: flex;
      
    
      
    }
    
    .formContainer{
        position: relative;
        left: 20%;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        row-gap: 30px;
        
        
    }
    .infoPerso{
        text-decoration: underline;
        font-family: 'Inter', sans-serif;
        color: #1B98E0;
    }
    label{
        font-family: 'Inter', sans-serif;;
        color:gray;
    
    
    }
    .inputBar{
      width: 60%;
      height: 5%;
      border: none;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border-radius: 5px;
    
    }
    .inputBar:focus{
        border: #1B98E0;
    }
    .sauvegarder{
        width: 80%;
        position: relative;
        top: 5%;
        left:-8%;
        
        font-family: "Inter",sans-serif;
        color: aliceblue;
        background-color: #1B98E0;
    }
    
    .modal{
        position:absolute;
        top:50%;
        left:25%;
        align-self:flex-start;
        justify-self: center;
        height: 60%;
        width: 50%;
        display: none;
        flex-direction: column;
    
        row-gap: 25%;
        border: 5px solid gray;
        background-color: rgb(201, 200, 200);
        position: absolute;
        
    }
    .headModal{
        width: 100%;
        height: 19%;
       
        background-color: #1B98E0;
    }
    
    .textModal{
        position: relative;
        
        align-self: center;
        font-family: "Inter",sans-serif;
        color: aliceblue    ;
    }
    .btnContainer{
    
        width: 100%;
        
        position: relative;
        bottom: 10%;
        right: 5%;
        display: flex;
        flex-direction: row;
        justify-content: end;
        column-gap: 5%;
        
    }
    .modalBtn{
        width: 100px;
        height: 35px;
    
        ;
        border: none;
        font-family: "Inter",sans-serif;
        background-color: #1B98E0;
        color: aliceblue;
    }
    .closeIcon{
        cursor: pointer;
    }
    
}
@media screen and (max-width:768px) and (min-width:576px) {
    html{
        font-size: 16px;
    }
    body{
        margin: 0;
    }
    
    .container{
        width: 100%;
        height: 180vh;
        display: flex;
        flex-direction: column;
        justify-content:start;
        align-items: center;
        margin-top: 5%;
    }
    .headContainer{
        width: 80%;
        height: 10%;
        font-family: 'Inter', sans-serif;;
        color: gray;
        font-size: 40px;
        text-decoration: overline;
        
        position: relative;
        top:5px;
        left: 10rem;
    
    }
    .arrow{
        position: relative;
        left: -60%;
        top:-25%;

        border:none;
        background-color: white;
        color:gray;
    }
    .arrow:hover{
        color:#1B98E0;
    }
    .mainContainer{
        width: 60%;
        height: 120vh;
        border-left: solid gray;
        border-right:solid gray;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    
        display: flex;
      
    
      
    }
    
    .formContainer{
        position: relative;
        left: 20%;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        row-gap: 30px;
        
        
    }
    .infoPerso{
        text-decoration: underline;
        font-family: 'Inter', sans-serif;
        color: #1B98E0;
    }
    label{
        font-family: 'Inter', sans-serif;;
        color:gray;
    
    
    }
    .inputBar{
      width: 60%;
      height: 5%;
      border: none;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border-radius: 5px;
    
    }
    .inputBar:focus{
        border: #1B98E0;
    }
    .sauvegarder{
        width: 80%;
        position: relative;
        top: 5%;
        left:-8%;
        
        font-family: "Inter",sans-serif;
        color: aliceblue;
        background-color: #1B98E0;
    }
    
    .modal{
        position:absolute;
        top:50%;
        left:20%;
        align-self:flex-start;
        justify-self: center;
        height: 60%;
        width: 60%;
        display: none;
        flex-direction: column;
    
        row-gap: 25%;
        border: 5px solid gray;
        background-color: rgb(201, 200, 200);
        position: absolute;
        
    }
    .headModal{
        width: 100%;
        height: 19%;
       
        background-color: #1B98E0;
    }
    
    .textModal{
        position: relative;
        
        align-self: center;
        font-family: "Inter",sans-serif;
        color: aliceblue    ;
    }
    .btnContainer{
    
        width: 100%;
        
        position: relative;
        bottom: 10%;
        right: 5%;
        display: flex;
        flex-direction: row;
        justify-content: end;
        column-gap: 5%;
        
    }
    .modalBtn{
        width: 100px;
        height: 35px;
    
        ;
        border: none;
        font-family: "Inter",sans-serif;
        background-color: #1B98E0;
        color: aliceblue;
    }
    .closeIcon{
        cursor: pointer;
    }
    
}
@media screen and (max-width:576px){
    html{
        font-size: 16px;
    }
    body{
        margin: 0;
    }
    
    .container{
        width: 100%;
        height: 180vh;
        display: flex;
        flex-direction: column;
        justify-content:start;
        align-items: center;
        margin-top: 5%;
    }
    .headContainer{
        width: 80%;
        height: 10%;
        font-family: 'Inter', sans-serif;;
        color: gray;
        font-size: 40px;
        text-decoration: overline;
        
        position: relative;
        top:5px;
        left: 10rem;
    
    }
    .arrow{
        position: relative;
        left:-80%;
        top:-20%;

        border:none;
        background-color: white;
        color:gray;
    }
    .arrow:hover{
        color:#1B98E0;
    }
    .mainContainer{
        width: 60%;
        height: 120vh;
        border-left: solid gray;
        border-right:solid gray;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    
        display: flex;
      
    
      
    }
    
    .formContainer{
        position: relative;
        left: 20%;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        row-gap: 30px;
        
        
    }
    .infoPerso{
        text-decoration: underline;
        font-family: 'Inter', sans-serif;
        color: #1B98E0;
    }
    label{
        font-family: 'Inter', sans-serif;;
        color:gray;
    
    
    }
    .inputBar{
      width: 60%;
      height: 5%;
      border: none;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border-radius: 5px;
    
    }
    .inputBar:focus{
        border: #1B98E0;
    }
    .sauvegarder{
        width: 80%;
        position: relative;
        top: 5%;
        left:-8%;
        
        font-family: "Inter",sans-serif;
        color: aliceblue;
        background-color: #1B98E0;
    }
    
    .modal{
        position:absolute;
        top:50%;
        left:2  0%;
        align-self:flex-start;
        justify-self: center;
        height: 60%;
        width: 60%;
        display: none;
        flex-direction: column;
    
        row-gap: 25%;
        border: 5px solid gray;
        background-color: rgb(201, 200, 200);
        position: absolute;
        
    }
    .headModal{
        width: 100%;
        height: 19%;
       
        background-color: #1B98E0;
    }
    
    .textModal{
        position: relative;
        
        align-self: center;
        font-family: "Inter",sans-serif;
        color: aliceblue    ;
    }
    .btnContainer{
    
        width: 100%;
        
        position: relative;
        bottom: 10%;
        right: 5%;
        display: flex;
        flex-direction: row;
        justify-content: end;
        column-gap: 5%;
        
    }
    .modalBtn{
        width: 100px;
        height: 35px;
    
        ;
        border: none;
        font-family: "Inter",sans-serif;
        background-color: #1B98E0;
        color: aliceblue;
    }
    .closeIcon{
        cursor: pointer;
    }
    
}