@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@media  screen and (min-width:1400px) {
    .sideMenu{
        margin: 0;
        width: 100%;
        height: 15%;
        background-color: #1B98E0;
    
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 4%;
    
    }
    #ThemisTest{
        position: relative;
        right: 10%;
        font-size: 200%;
        font-weight: 800;
    }
    #Classe{
        position: relative;
        right: 8%;
    }
    #test{
        position: relative;
        right: 8%;
    }
    #doc{
        position: relative;
        right: 8%;
    }
    #profil{
        position: relative;
        left: 5%;
       cursor: pointer;
    }
    #contact{
        position: relative;
        right: 8%;
    }
    .title{
        text-decoration: none;
        color:aliceblue;
        font-family: "Inter",sans-serif;
        font-size: 20px;
    
       
    
        
    }
    .btn{
        position: relative;
        top:2px;
    }
    .mainContainer{
        position: absolute;
        display: none;
        width: 100%;
        height: 350%;
        background-color:aliceblue;
        border:1px solid black;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    
    .bi{
        margin: 0;
        padding: 0;
    }
    li{
        list-style: none;
        position: relative;
        right: 10%;
        bottom: 20%;
        margin: 0;
    }
    .line{
        position: relative;
        top: 1%;
        width: 100%;
        height: 5%;
        background-color: #1B98E0;
    }
    .block{
        
        width: 100%;
        text-decoration: none;
        font-size: 12px;
        font-weight: 600;
        color: black;
        font-family: "Inter",sans-serif;
        transition: backgroud-color,0.2s;
        align-self: center;
    }
    
    .block:hover{
        color: rgb(168, 168, 168);
    }
    .deconnexionIcon{
      position: relative;
      top:4px;
      left: 10px;
    }
    #deconnexion{
        position: relative;
        top:15px;
    
    }
    .downMenuBtn{
        display: none;
        position: relative;
        left: 25%;
        width: 10%;
        height: 50px;
        background-color: aliceblue;
        border:none;
        border-bottom: 5px solid #1B98E0;
        border-top: 5px solid #1B98E0;
    }
    .downMenu{
        display: none;
       position: none;
       width: 98.3%;
       height: 40%;
        
       background-color: aliceblue;
    
       display: flex;
       flex-direction: column;
       align-items: center;
      
       row-gap: 2%;
    }
    .titleMenu{
        display: none;
        width: 97.4%;
        height: 25%;
        
        text-align:start;
    
    
        text-decoration: none;
        color:gray;
        background-color: aliceblue;
        font-family: "Inter",sans-serif;
        font-size: 20px;
    
        transition: background-color,0.5s;
    }
    .titleMenu:hover{
        background-color:#1b98e0c1;
        border-top-right-radius:25px ;
        border-bottom-right-radius:25px ;
    
       
    }   
    
}
@media screen and (max-width:1400px) and (min-width:1200px) {
    .sideMenu{
        width: 100%;
        height: 10%;
        background-color: #1B98E0;
    
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 1%;
    
    }
    #ThemisTest{
        position: relative;
        right: 11%;
        font-size: 200%;
        font-weight: 800;
    }
    #Classe{
        position: relative;
        right: 7%;
    }
    #test{
        position: relative;
        right: 5%;
    }
    #doc{
        position: relative;
        right: 1%;
    }
    #profil{
        position: relative;
        left: 7%;
       cursor: pointer;
    }
    #contact{
        position: relative;
        right: 3%;
    }
    .title{
        text-decoration: none;
        color:aliceblue;
        font-family: "Inter",sans-serif;
        font-size: 20px;
    
       
    
        
    }
    .btn{
        position: relative;
        top:2px;
    }
    .mainContainer{
        position: absolute;
        display: none;
        width: 100%;
        height: 350%;
        background-color:aliceblue;
        border:1px solid black;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    
    .bi{
        margin: 0;
        padding: 0;
    }
    li{
        list-style: none;
        position: relative;
        right: 10%;
        bottom: 20%;
        margin: 0;
    }
    .line{
        position: relative;
        top: 1%;
        width: 100%;
        height: 5%;
        background-color: #1B98E0;
    }
    .block{
        
        width: 100%;
        text-decoration: none;
        font-size: 12px;
        font-weight: 600;
        color: black;
        font-family: "Inter",sans-serif;
        transition: backgroud-color,0.2s;
        align-self: center;
    }
    
    .block:hover{
        color: rgb(168, 168, 168);
    }
    .deconnexionIcon{
      position: relative;
      top:4px;
      left: 10px;
    }
    #deconnexion{
        position: relative;
        top:15px;
    
    }
    .downMenuBtn{
        display: none;
        position: relative;
        left: 25%;
        width: 10%;
        height: 50px;
        background-color: aliceblue;
        border:none;
        border-bottom: 5px solid #1B98E0;
        border-top: 5px solid #1B98E0;
    }
    .downMenu{
       display: none;
       position: none;
       width: 98.3%;
       height: 40%;
        
       background-color: aliceblue;
    
       display: flex;
       flex-direction: column;
       align-items: center;
      
       row-gap: 2%;
    }
    .titleMenu{
        display: none;
        width: 97.4%;
        height: 25%;
        
        text-align:start;
    
    
        text-decoration: none;
        color:gray;
        background-color: aliceblue;
        font-family: "Inter",sans-serif;
        font-size: 20px;
    
        transition: background-color,0.5s;
    }
   
    
}
@media screen and (max-width:1200px) and (min-width:992px){ 
    .sideMenu{
        
        width: 100%;
        height: 10%;
        background-color: #1B98E0;
    
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 1%;
    
    }
    #ThemisTest{
        position: relative;
        right: 5%;
        font-size: 200%;
        font-weight: 800;
    }
    #Classe{
        position: relative;
        right: 3%;
    }
    #test{
        position: relative;
        right: 2%;
    }
    #doc{
        position: relative;
        right: 0%;
    }
    #profil{
        position: relative;
        left: 3%;
       cursor: pointer;
    }
    #contact{
        position: relative;
        right: 1%;
    }
    .title{
        text-decoration: none;
        color:aliceblue;
        font-family: "Inter",sans-serif;
        font-size: 20px;
    
       
    
        
    }
    .btn{
        position: relative;
        top:2px;
    }
    .mainContainer{
        position: absolute;
        display: none;
        width: 100%;
        height: 350%;
        background-color:aliceblue;
        border:1px solid black;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    
    .bi{
        margin: 0;
        padding: 0;
    }
    li{
        list-style: none;
        position: relative;
        right: 10%;
        bottom: 20%;
        margin: 0;
    }
    .line{
        position: relative;
        top: 1%;
        width: 100%;
        height: 5%;
        background-color: #1B98E0;
    }
    .block{
        
        width: 100%;
        text-decoration: none;
        font-size: 12px;
        font-weight: 600;
        color: black;
        font-family: "Inter",sans-serif;
        transition: backgroud-color,0.2s;
        align-self: center;
    }
    
    .block:hover{
        color: rgb(168, 168, 168);
    }
    .deconnexionIcon{
      position: relative;
      top:4px;
      left: 10px;
    }
    #deconnexion{
        position: relative;
        top:15px;
    
    }   
    .downMenuBtn{
        display: none;
        position: relative;
        left: 25%;
        width: 10%;
        height: 50px;
        background-color: aliceblue;
        border:none;
        border-bottom: 5px solid #1B98E0;
        border-top: 5px solid #1B98E0;
    }
    .downMenu{
        display: none;
       position: none;
       width: 98.3%;
       height: 40%;
        
       background-color: aliceblue;
    
       display: flex;
       flex-direction: column;
       align-items: center;
      
       row-gap: 2%;
    }
    .titleMenu{
        display: none;
        width: 97.4%;
        height: 25%;
        
        text-align:start;
    
    
        text-decoration: none;
        color:gray;
        background-color: aliceblue;
        font-family: "Inter",sans-serif;
        font-size: 20px;
    
        transition: background-color,0.5s;
    }
    .titleMenu:hover{
        background-color:#1b98e0c1;
        border-top-right-radius:25px ;
        border-bottom-right-radius:25px ;
    
       
    }
}
@media screen and (max-width:992px) and (min-width:768px){
    .sideMenu{
        width: 100%;
        height: 10%;
        background-color: #1B98E0;
    
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 1%;
    
    }
    #ThemisTest{
        position: relative;
        right: 35%;
        font-size: 200%;
        font-weight: 800;
    }
    #Classe{
        display: none;
        position: relative;
        right: 3%;
    }
    #test{
        display: none;
        
        position: relative;
        right: 2%;
    }
    #doc{
        display: none;

        position: relative;
        right: 0%;
    }
    #profil{
        display: none;

        position: relative;
        left: 3%;
       cursor: pointer;
    }
    #contact{
        display: none;

        position: relative;
        right: 1%;
    }
    .title{
        text-decoration: none;
        color:aliceblue;
        font-family: "Inter",sans-serif;
        font-size: 20px;
    
       
    
        
    }
    .btn{
        position: relative;
        top:2px;
    }
    .mainContainer{
        position: absolute;
        display: none;
        width: 100%;
        height: 350%;
        background-color:aliceblue;
        border:1px solid black;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    
    .bi{
        margin: 0;
        padding: 0;
    }
    li{
        list-style: none;
        position: relative;
        right: 10%;
        bottom: 20%;
        margin: 0;
    }
    .line{
        position: relative;
        top: 1%;
        width: 100%;
        height: 5%;
        background-color: #1B98E0;
    }
    .block{
        
        width: 100%;
        text-decoration: none;
        font-size: 12px;
        font-weight: 600;
        color: black;
        font-family: "Inter",sans-serif;
        transition: backgroud-color,0.2s;
        align-self: center;
    }
    
    .block:hover{
        color: rgb(168, 168, 168);
    }
    .deconnexionIcon{
      position: relative;
      top:4px;
      left: 10px;
    }
    #deconnexion{
        position: relative;
        top:15px;
    
}
.downMenuBtn{
    position: relative;
    left: 35%;
    width: 8%;
    height: 50px;
    background-color: aliceblue;
    border:none;
    border-bottom: 5px solid #1B98E0;
    border-top: 5px solid #1B98E0;
}
.downMenu{
   position: absolute;
   width: 98.3%;
   height: 40%;
    
   background-color: aliceblue;

   display: flex;
   flex-direction: column;
   align-items: center;
  
   row-gap: 2%;
}
.titleMenu{
    width: 97.4%;
    height: 25%;
    
    text-align:start;


    text-decoration: none;
    color:gray;
    background-color: aliceblue;
    font-family: "Inter",sans-serif;
    font-size: 20px;

    transition: background-color,0.5s;
}
.titleMenu:hover{
    background-color:#1b98e0c1;
    border-top-right-radius:25px ;
    border-bottom-right-radius:25px ;

   
}
}
@media screen and (max-width:768px) and (min-width:576px){
    .sideMenu{
        width: 100%;
        height: 10%;
        background-color: #1B98E0;
    
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 1%;
    
    }
    #ThemisTest{
        position: relative;
        right: 28%;
        font-size: 200%;
        font-weight: 800;
    }
    #Classe{
        display: none;
        position: relative;
        right: 3%;
    }
    #test{
        display: none;
        
        position: relative;
        right: 2%;
    }
    #doc{
        display: none;

        position: relative;
        right: 0%;
    }
    #profil{
        display: none;

        position: relative;
        left: 3%;
       cursor: pointer;
    }
    #contact{
        display: none;

        position: relative;
        right: 1%;
    }
    .title{
        text-decoration: none;
        color:aliceblue;
        font-family: "Inter",sans-serif;
        font-size: 20px;
    
       
    
        
    }
    .btn{
        position: relative;
        top:2px;
    }
    .mainContainer{
        position: absolute;
        display: none;
        width: 100%;
        height: 350%;
        background-color:aliceblue;
        border:1px solid black;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    
    .bi{
        margin: 0;
        padding: 0;
    }
    li{
        list-style: none;
        position: relative;
        right: 10%;
        bottom: 20%;
        margin: 0;
    }
    .line{
        position: relative;
        top: 1%;
        width: 100%;
        height: 5%;
        background-color: #1B98E0;
    }
    .block{
        
        width: 100%;
        text-decoration: none;
        font-size: 12px;
        font-weight: 600;
        color: black;
        font-family: "Inter",sans-serif;
        transition: backgroud-color,0.2s;
        align-self: center;
    }
    
    .block:hover{
        color: rgb(168, 168, 168);
    }
    .deconnexionIcon{
      position: relative;
      top:4px;
      left: 10px;
    }
    #deconnexion{
        position: relative;
        top:15px;
    
}
.downMenuBtn{
    position: relative;
    left: 28%;
    width: 8%;
    height: 50px;
    background-color: aliceblue;
    border:none;
    border-bottom: 5px solid #1B98E0;
    border-top: 5px solid #1B98E0;
}
.downMenu{
   position: absolute;
   width: 98.3%;
   height: 40%;
    
   background-color: aliceblue;

   display: flex;
   flex-direction: column;
   align-items: center;
  
   row-gap: 2%;
}
.titleMenu{
    width: 97.4%;
    height: 25%;
    
    text-align:start;


    text-decoration: none;
    color:gray;
    background-color: aliceblue;
    font-family: "Inter",sans-serif;
    font-size: 20px;

    transition: background-color,0.5s;
}
.titleMenu:hover{
    background-color:#1b98e0c1;
    border-top-right-radius:25px ;
    border-bottom-right-radius:25px ;

   
}
}
@media screen and (max-width:576px) {
    .sideMenu{
        width: 100%;
        height: 10%;
        background-color: #1B98E0;
    
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 1%;
    
    }
    #ThemisTest{
        position: relative;
        right: 22%;
        font-size: 200%;
        font-weight: 800;
    }
    #Classe{
        display: none;
        position: relative;
        right: 3%;
    }
    #test{
        display: none;
        
        position: relative;
        right: 2%;
    }
    #doc{
        display: none;

        position: relative;
        right: 0%;
    }
    #profil{
        display: none;

        position: relative;
        left: 3%;
       cursor: pointer;
    }
    #contact{
        display: none;

        position: relative;
        right: 1%;
    }
    .title{
        text-decoration: none;
        color:aliceblue;
        font-family: "Inter",sans-serif;
        font-size: 20px;
    
       
    
        
    }
    .btn{
        position: relative;
        top:2px;
    }
    .mainContainer{
        position: absolute;
        display: none;
        width: 100%;
        height: 350%;
        background-color:aliceblue;
        border:1px solid black;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    
    .bi{
        margin: 0;
        padding: 0;
    }
    li{
        list-style: none;
        position: relative;
        right: 10%;
        bottom: 20%;
        margin: 0;
    }
    .line{
        position: relative;
        top: 1%;
        width: 100%;
        height: 5%;
        background-color: #1B98E0;
    }
    .block{
        
        width: 100%;
        text-decoration: none;
        font-size: 12px;
        font-weight: 600;
        color: black;
        font-family: "Inter",sans-serif;
        transition: backgroud-color,0.2s;
        align-self: center;
    }
    
    .block:hover{
        color: rgb(168, 168, 168);
    }
    .deconnexionIcon{
      position: relative;
      top:4px;
      left: 10px;
    }
    #deconnexion{
        position: relative;
        top:15px;
    
}
.downMenuBtn{
    position: relative;
    left: 25%;
    width: 10%;
    height: 50px;
    background-color: aliceblue;
    border:none;
    border-bottom: 5px solid #1B98E0;
    border-top: 5px solid #1B98E0;
}
.downMenu{
   position: none;
   width: 98.3%;
   height: 40%;
    
   background-color: aliceblue;

   display: none;
   flex-direction: column;
   align-items: center;
  
   row-gap: 2%;
}
.titleMenu{
    width: 97.4%;
    height: 25%;
    
    text-align:start;


    text-decoration: none;
    color:gray;
    background-color: aliceblue;
    font-family: "Inter",sans-serif;
    font-size: 20px;

    transition: background-color,0.5s;
}
.titleMenu:hover{
    background-color:#1b98e0c1;
    border-top-right-radius:25px ;
    border-bottom-right-radius:25px ;

   
}
}