@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');



/*
To DO List :
1. table content:
  table(done)
  add button (done)
  search button (just icon) (done


2. profil content
   
3. side content 

4. ne pas oublier de integrer les features de certaines media dnas les autres 

*/

/*1. global--------------------------------------------------------------------------- */
*{
  box-sizing: border-box;
}

html {
  font-family: 'Nunito', sans-serif;
}
@media screen and (min-width:1400px) {
  
body{
  display: grid;

  grid-template-columns: repeat(4,25%);
  grid-template-rows: 100px auto auto;
  row-gap: 20px;
  column-gap: 20px;
  

}


/* 2. Nav-Bar-------------------------------------------------------------------------*/ 
.nav-bar{

  grid-column: span 4 ;  
  grid-row: 1;

  
  border: solid #AAAFFF;
  width: 100%;
  height: 100%;

}


/* info container---------------------------------------------------------------------*/

.infoContainer{
  grid-row:2/3;
  grid-column: 1/2;
 

  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  row-gap: 50px;

}


.infoBlock{
  width: 80%;
  height: 50%;
  border: solid #AAAFFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #CACDFF;


  display: grid;
  grid-template-rows: 60% 40%;
  
 

}

.photoContainer{

  grid-row: 1/2;
  
  display: block;
  width: 100%;
  height: 100%;

}
.photo{
  width: 100%;
  height: 100%;  
}
.next{
  grid-row: 1/2;
  position: absolute;
  align-self: center;
  justify-self: end;
  cursor: pointer;
  color:#AAAFFF;
}
.prev{
  grid-row: 1/2;
  position: absolute;
  align-self: center;
  justify-self: start;
  cursor: pointer;
  color:#AAAFFF;


}
.textContent{
  grid-row:2/3;
}
#titleExplanation{
  text-align: start;
  font-size: 20px;
}
#explanation{
  font-size: 15px;
}

/* table Container--------------------------------------------------------------------*/

.tableContainer{

   grid-column: 2/4;
   grid-row: 2/3; 

   height: 500px;  
   

   
}

.tableStudent{
  width: 60%;
  height: auto;

  
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100px 100%;
  
}

/* top-table*/
.topTable{
 

  grid-row : 1/2;
  grid-column: span 5;

  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: space-around;
  column-gap: 150px;

}
#addStudentBtn{
  width: 10%;
  height: 30%;

  align-self: flex-start;


  background: aliceblue;
  border: #AAAFFF;
  border-radius:15px;

  font-weight: 600;
  color: #AAAFFF;

  cursor: pointer;

  transition: width 1s;
  
}

#addStudentBtn:hover{

  height: 35%;
}

#searchStudentInput{
  
  width: 50%;
  height: 35%;
  
  align-self: flex-end;
  margin-top: 5px;
  box-shadow: 3px 3px #CACDFF;

}
input[type=text]{
  border-radius: 10px;
  border: 1px solid  #AAAFFF;
  -webkit-transition: 0.5; 
  transition: 0.2s;
  outline: none;
}

input[type=text]:focus{
  border: 5px solid #AAAFFF;

}

/* main Table */

.mainTable{
  
  grid-row: 2/3;
  
  width: 100%;

  justify-self: center;
  align-self: start;

  margin-top: 15px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #CACDFF;
}
table,tr{
  text-align: center;
  color: black;
  font-weight: 600;

  border-collapse: none;
}
td,tr{
  width: 20%;
  border: 1px solid #AAAFFF;
}

.testBtn{
  
  height: auto;
  width: 100%;

  background: none;
  border: none;
  cursor: pointer;

  transition-duration : 0.5s ;
}

.testBtn:hover{
  background-color: #AAAFFF;
}
/* profil container-------------------------------------------------------------------*/

.profilContainer{
  grid-column: 4/5;
  grid-row: 2/3;
  height: 100%;
  background: white;



  display: flex;
  flex-direction: column;
  align-content: space-around;

}
/* profil */

.profil{
  width: 80%;
  height: 80%;

  border: solid #AAAFFF;
  border-radius: 15px;
 
  display: flex;
  flex-direction: column;

  
  
}
#photo{
  width: 30%;
  height: 30%;
  align-self: center;
 

}
.infoPersonal{
  align-self: center;
  font-size: 35px;
}
/* historique*/
.historique{


  height: 20%;
}

#text{
  color: #AAAFFF;
}
/* side bar none*/
.sideBarBtn{
  width: 50px;
  height: 80px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #AAAFFF;
  transition-duration:0.5s;
  display: none;
  

}
.sideBarBtnContainer{
  display: none;
  position:sticky;
  top:50%;

}


/* Footer-----------------------------------------------------------------------------*/

.footer{
  border-top: solid;

  background: black;
  color: aliceblue;
  margin-top: 200px;
  grid-column: span 4;
  grid-row: 3;
}

}

@media (min-width: 1200px) and (max-width: 1400px) {
  body{
    display: grid;

  grid-template-columns: 40% 60%;
  grid-template-rows: 80px auto 40% auto;
  row-gap: 50px;
  column-gap: 50px;
  
  }

  .nav-bar{
    grid-column: span 2;
    grid-row: 1/2;
    border: solid black;
 
  }

  /* info container*/
  .infoContainer{
    grid-column: span 2;
    grid-row: 3/4;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
   
  }

  .infoBlock{
    width: 40%;
    height: 80%;
    border: solid #AAAFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #CACDFF;
  
  
    display: grid;
    grid-template-rows: 60% 40%;
    
   
  
  }
  
  .photoContainer{
  
    grid-row: 1/2;
    
    display: block;
    width: 100%;
    height: 100%;
  
  }
  .photo{
    width: 100%;
    height: 100%;  
  }
  .next{
    grid-row: 1/2;
    position: absolute;
    align-self: center;
    justify-self: end;
    cursor: pointer;
    color:#AAAFFF;
  }
  .prev{
    grid-row: 1/2;
    position: absolute;
    align-self: center;
    justify-self: start;
    cursor: pointer;
    color:#AAAFFF;
  
  
  }
  .textContent{
    grid-row:2/3;
  }
  #titleExplanation{
    text-align: start;
    font-size: 20px;
  }
  #explanation{
    font-size: 15px;
  }
  
  /* table Container--------------------------------------------------------------------*/
  
  .tableContainer{
  
     grid-column: 1/2;
     grid-row: 2/3;
     
  
     height: 500px;  
     margin-left: 50px;
  
     
  }
  
  .tableStudent{
    width: 60%;
    height: auto;
  
    
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px 100%;
    
  }
  
  /* top-table*/
  .topTable{
   
  
    grid-row : 1/2;
    grid-column: span 5;
  
    display: inline-flex;
 
    justify-content: space-around;
   
  
  }
  #addStudentBtn{
    width: 30%;
    height: 30%;
  
   align-self: end;
  
    background: aliceblue;
    border: #AAAFFF;
    border-radius:15px;
  
    font-weight: 600;
    color: #AAAFFF;
  
    cursor: pointer;
  
    transition: width 1s;
    
  }
  
  #addStudentBtn:hover{
  
    height: 35%;
  }
  
  #searchStudentInput{
    
    width: 50%;
    height: 35%;
    
    align-self: flex-end;
    margin-top: 5px;
    box-shadow: 3px 3px #CACDFF;
  
  }
  input[type=text]{
    border-radius: 10px;
    border: 1px solid  #AAAFFF;
    -webkit-transition: 0.5; 
    transition: 0.2s;
    outline: none;
  }
  
  input[type=text]:focus{
    border: 5px solid #AAAFFF;
  
  }
  
  /* main Table */
  
  .mainTable{
    
    grid-row: 2/3;
    
    width: 100%;
  
    justify-self: center;   
    align-self: start;
  
    margin-top: 15px;
  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #CACDFF;
  }
  table,tr{
    text-align: center;
    color: black;
    font-weight: 600;
  
    border-collapse: none;
  }
  td,tr{
    width: 20%;
    border: 1px solid #AAAFFF;
  }
  
  .testBtn{
    
    height: auto;
    width: 100%;
  
    background: none;
    border: none;
    cursor: pointer;
  
    transition-duration : 0.5s ;
  }
  
  .testBtn:hover{
    background-color: #AAAFFF;
  }
  /* profil container-------------------------------------------------------------------*/
  
  .profilContainer{
    grid-column: 2/3;
    grid-row: 2/3;
    height: 100%;
    background: white;
  
  
  
    display: flex;
    flex-direction: row;
    align-content: space-around;
  
  }
  /* profil */
  
  .profil{
    width: 50%;
    height: 80%;
  
    border: solid #AAAFFF;
    border-radius: 15px;
   
    display: flex;
    flex-direction: column;
  
    
    
  }
  #photo{
    width: 30%;
    height: 30%;
    align-self: center;
   
  
  }
  .infoPersonal{
    align-self: center;
    font-size: 25px;
  }
  /* historique*/
  .historique{
  
  
    height: 20%;
  }
  
  #text{
    color: #AAAFFF;
  }
  /* side profil none*/
  .sideBarBtn{
    
    display: none;

    

  }

  
  /* Footer-----------------------------------------------------------------------------*/
  
  .footer{
    border-top: solid;
  
    background: black;
    color: aliceblue;
    margin-top: 200px;
    grid-column: span 2;
    grid-row: 4/5;
  }


}

@media (min-width:992px) and (max-width:1200px){
  body{
    display: grid;

  grid-template-columns: 30% 70%;
  grid-template-rows: 70px auto 50% auto;
  row-gap: 50px;
  column-gap: 50px;
  
  }

  .nav-bar{
    grid-column: span 2;
    grid-row: 1/2;
    border: solid black;
 
  }

  /* info container*/
  .infoContainer{
    grid-column: span 2;
    grid-row: 3/4;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
   
  }

  .infoBlock{
    width: 40%;
    height: 80%;
    border: solid #AAAFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #CACDFF;
  
  
    display: grid;
    grid-template-rows: 60% 40%;
    
   
  
  }
  
  .photoContainer{
  
    grid-row: 1/2;
    
    display: block;
    width: 100%;
    height: 100%;
  
  }
  .photo{
    width: 100%;
    height: 100%;  
  }
  .next{
    grid-row: 1/2;
    position: absolute;
    align-self: center;
    justify-self: end;
    cursor: pointer;
    color:#AAAFFF;
  }
  .prev{
    grid-row: 1/2;
    position: absolute;
    align-self: center;
    justify-self: start;
    cursor: pointer;
    color:#AAAFFF;
  
  
  }
  .textContent{
    grid-row:2/3;
  }
  #titleExplanation{
    text-align: start;
    font-size: 20px;
  }
  #explanation{
    font-size: 15px;
  }
  
  /* table Container--------------------------------------------------------------------*/
  
  .tableContainer{
  
     grid-column: 1/2;
     grid-row: 2/3;
     
  
     height: 500px;  
     margin-left: 100px;
  
     
  }
  
  .tableStudent{
    width: 50%;
    height: auto;
  
    
    display: grid;
    grid-template-columns: 200%;
    grid-template-rows: auto 100%;
    
  }
  
  /* top-table*/
  .topTable{
   
  
    grid-row : 1/2;
    grid-column: span 5;
    display: inline-flex;
 
    justify-content: space-around;
    column-gap: 25px;
   
   
  
    

    
    

   
  
  }
  #addStudentBtn{
    width: 80%;
    height: 100%;

  
    background: aliceblue;
    border: #AAAFFF;
    border-radius:5px;
  
    font-weight: 600;
    color: #AAAFFF;
  
    cursor: pointer;
  
    transition: width 1s;
    
  }
  
  #addStudentBtn:hover{
  
    width: 100%;
  }
  
  #searchStudentInput{
    
    width: 100%;
    height: 60%;
    
    
    margin-top: 5px;
    box-shadow: 3px 3px #CACDFF;
  
  }
  input[type=text]{
    border-radius: 10px;
    border: 1px solid  #AAAFFF;
    -webkit-transition: 0.5; 
    transition: 0.2s;
    outline: none;
  }
  
  input[type=text]:focus{
    border: 2px solid #AAAFFF;
  }
  #searchStudentInput:hover{
    width: 120%;

  }
  
  /* main Table */
  
  .mainTable{
    
    grid-row: 2/3;
    
    width: 100%;
  
    justify-self: center;
    align-self: start;
  
    margin-top: 15px;
  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #CACDFF;
  }
  table,tr{
    text-align: center;
    color: black;
    font-weight: 600;
  
    border-collapse: none;
  }
  td,tr{
    width: 20%;
    border: 1px solid #AAAFFF;
  }
  
  .testBtn{
    
    height: auto;
    width: 100%;
  
    background: none;
    border: none;
    cursor: pointer;
  
    transition-duration : 0.5s ;
  }
  
  .testBtn:hover{
    background-color: #AAAFFF;
  }
  /* profil container-------------------------------------------------------------------*/
  
  .profilContainer{
    grid-column: 2/3;
    grid-row: 2/3;
    height: 100%;
    background: white;
  
  
  
    display: flex;
    flex-direction: row;
    align-content: space-around;
  
  }
  /* profil */
  
  .profil{
    width: 50%;
    height: 80%;
  
    border: solid #AAAFFF;
    border-radius: 15px;
   
    display: flex;
    flex-direction: column;
  
    
    
  }
  #photo{
    width: 30%;
    height: 30%;
    align-self: center;
   
  
  }
  .infoPersonal{
    align-self: center;
    font-size: 25px;
  }
  /* historique*/
  .historique{
  
  
    height: 20%;
  }
  
  #text{
    color: #AAAFFF;
  }

  /* side bar profil none*/
  .sideBarBtnContainer{
    display: none;
 
    top:50%;
  
  }
  .sideBarBtn{
    width: 0;
    height: 0;
   visibility: hidden;
    

  }



  .sideBarBtn:hover{
    background-color: #9A9EDE ;
   
  }

  #side{
    height: 100%;
    width: 60%;
    background: #9A9EDE;
    position: fixed;
    z-index: 1;
    top:0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    display: none;
    flex-direction: column;
    row-gap: 25px;

    animation: slideRight 1s;

  }
  
  /* Footer-----------------------------------------------------------------------------*/
  
  .footer{
    border-top: solid;
  
    background: black;
    color: aliceblue;
    margin-top: 200px;
    grid-column: span 2;
    grid-row: 4/5;
  }

}

@media (min-width:768px) and (max-width:992px) {

  body{
    display: flex;
    flex-direction: column;
    row-gap: 100px;
    
    
  }
  .nav-bar{
    background: black;
    border:solid black;
    height: 100px;
  }
  .menuIcon{
    position: sticky;
    top:50%;




    height: 50px;
    width: 30px;
    background-color: #AAAFFF;


    border-top-right-radius:20px ;
    border-bottom-right-radius:20px ;

    display: grid;
    justify-items: center;
    align-items: center;

    cursor: pointer;
  }


   /* info container*/
   .infoContainer{
    order:2;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
   
  }

  .infoBlock{
    width: 40%;
    height: 80%;
    border: solid #AAAFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #CACDFF;
  
  
    display: grid;
    grid-template-rows: 60% 40%;
    
   
  
  }
  
  .photoContainer{
  
    grid-row: 1/2;
    
    display: block;
    width: 100%;
    height: 100%;
  
  }
  .photo{
    width: 100%;
    height: 100%;  
  }
  .next{
    grid-row: 1/2;
    position: absolute;
    align-self: center;
    justify-self: end;
    cursor: pointer;
    color:#AAAFFF;
  }
  .prev{
    grid-row: 1/2;
    position: absolute;
    align-self: center;
    justify-self: start;
    cursor: pointer;
    color:#AAAFFF;
  
  
  }
  .textContent{
    grid-row:2/3;
  }
  #titleExplanation{
    text-align: start;
    font-size: 20px;
  }
  #explanation{
    font-size: 15px;
  }
  
  /* table Container--------------------------------------------------------------------*/
  
  .tableContainer{
  
    
     
  
     height: auto;  
     
  
     
  }
  
  .tableStudent{
    width: 50%;
    height: auto;
  
    
    display: grid;
    grid-template-columns: 200%;
    grid-template-rows: auto 100%;
    
  }
  
  /* top-table*/
  .topTable{
   
  
    grid-row : 1/2;
    grid-column: span 5;
    display: inline-flex;
 
    justify-content: space-around;
    column-gap: 25px;
   
   
  
    

    
    

   
  
  }
  #addStudentBtn{
    width: 80%;
    height: 100%;

  
    background: aliceblue;
    border: #AAAFFF;
    border-radius:5px;
  
    font-weight: 600;
    color: #AAAFFF;
  
    cursor: pointer;
  
    transition: width 1s;
    
  }
  
  #addStudentBtn:hover{
  
    width: 100%;
  }
  
  #searchStudentInput{
    
    width: 100%;
    height: 60%;
    
    
    margin-top: 5px;
    box-shadow: 3px 3px #CACDFF;
  
  }
  input[type=text]{
    border-radius: 10px;
    border: 1px solid  #AAAFFF;
    -webkit-transition: 0.5; 
    transition: 0.2s;
    outline: none;
  }
  
  input[type=text]:focus{
    border: 2px solid #AAAFFF;
  }
  #searchStudentInput:hover{
    width: 120%;

  }
  
  /* main Table */
  
  .mainTable{
    
    grid-row: 2/3;
    
    width: 100%;
  
    justify-self: center;
    align-self: start;
  
    margin-top: 15px;
  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #CACDFF;
  }
  table,tr{
    text-align: center;
    color: black;
    font-weight: 600;
  
    border-collapse: none;
  }
  td,tr{
    width: 20%;
    border: 1px solid #AAAFFF;
  }
  
  .testBtn{
    
    height: auto;
    width: 100%;
  
    background: none;
    border: none;
    cursor: pointer;
  
    transition-duration : 0.5s ;
  }
  
  .testBtn:hover{
    background-color: #AAAFFF;
  }
  /* profil container-------------------------------------------------------------------*/
  
  .profilContainer{
    
    height: 100%;
    width: 0%;
    background: white;
  
  
  
    display: none;
    flex-direction: row;
    align-content: space-around;
  
  }
  /* profil */
  
  .profil{
    width: 50%;
    height: 80%;
  
    border: solid #AAAFFF;
    border-radius: 15px;
   
    display: none;
    flex-direction: column;
  
    
    
  }
  #photo{
    width: 30%;
    height: 30%;
    align-self: center;
   
  
  }
  .infoPersonal{
    align-self: center;
    font-size: 25px;
  }
  /* historique*/
  .historique{
  
    
    height: 20%;
  }
  
  #text{
    color: #AAAFFF;
  }
  /* side bar profil---------------------------------------------------*/
  .sideBarBtnContainer{
    display: block;
    position:sticky;
    top:50%;
  
  }
  .sideBarBtn{
    width: 50px;
    height: 80px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #AAAFFF;
    transition-duration:0.5s;

    

  }

  .sideBarBtn:hover{
    background-color: #9A9EDE ;
   
  }

  #side{
    height: 100%;
    width: 300px;
    background: #9A9EDE;
    position: fixed;
    z-index: 1;
    top:0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    display: none;
    flex-direction: column;
    row-gap: 25px;

    animation: slideRight 1s;

  }
  #closeBtn{
    align-self: end;
    background-color: #9A9EDE;
  }
  .photoSideContainer{
    align-self: center;
    width: 100px;
    height: auto;
  }
  .infoPersonalSide{
    font-size: 30px;
  }
  .historiqueSide{
    height: 80%;
    background-color: aliceblue;
  }


  /* Footer-----------------------------------------------------------------------------*/
  
  .footer{
    border-top: solid;
  
    background: black;
    color: aliceblue;
    order:3;
    
  }
  
  /*keyframes-------------------------------------------------------------------*/
  @keyframes slideRight {
    from{
      width: 0;
    }
    to{
      width: 300px;
      
    }
    
  }



}

@media (min-width:576px) and (max-width:768px) {
  body{
    display: flex;
    flex-direction: column;
    row-gap: 70px;
    
    
  }
  .nav-bar{
    background: black;
    border:solid black;
    height: 100px;
  }
  .menuIcon{
    position: sticky;
    top:50%;




    height: 50px;
    width: 30px;
    background-color: #AAAFFF;


    border-top-right-radius:20px ;
    border-bottom-right-radius:20px ;

    display: grid;
    justify-items: center;
    align-items: center;

    cursor: pointer;
  }


   /* info container*/
   .infoContainer{
    order:2;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
   
  }

  .infoBlock{
    width: 40%;
    height: 80%;
    border: solid #AAAFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #CACDFF;
  
  
    display: grid;
    grid-template-rows: 60% 40%;
    
   
  
  }
  
  .photoContainer{
  
    grid-row: 1/2;
    
    display: block;
    width: 100%;
    height: 100%;
  
  }
  .photo{
    width: 100%;
    height: 100%;  
  }
  .next{
    grid-row: 1/2;
    position: absolute;
    align-self: center;
    justify-self: end;
    cursor: pointer;
    color:#AAAFFF;
  }
  .prev{
    grid-row: 1/2;
    position: absolute;
    align-self: center;
    justify-self: start;
    cursor: pointer;
    color:#AAAFFF;
  
  
  }
  .textContent{
    grid-row:2/3;
  }
  #titleExplanation{
    text-align: start;
    font-size: 20px;
  }
  #explanation{
    font-size: 15px;
  }
  
  /* table Container--------------------------------------------------------------------*/
  
  .tableContainer{
  
    
     
  
     height: auto;  
     
  
     
  }
  
  .tableStudent{
    width: 50%;
    height: auto;
  
    
    display: grid;
    grid-template-columns: 200%;
    grid-template-rows: auto 100%;
    
  }
  
  /* top-table*/
  .topTable{
   
  
    grid-row : 1/2;
    grid-column: span 5;
    display: inline-flex;
 
    justify-content: space-around;
    column-gap: 25px;
   
   
  
    

    
    

   
  
  }
  #addStudentBtn{
    width: 80%;
    height: 100%;

  
    background: aliceblue;
    border: #AAAFFF;
    border-radius:5px;
  
    font-weight: 600;
    color: #AAAFFF;
  
    cursor: pointer;
  
    transition: width 1s;
    
  }
  
  #addStudentBtn:hover{
  
    width: 100%;
  }
  
  #searchStudentInput{
    
    width: 100%;
    height: 60%;
    
    
    margin-top: 5px;
    box-shadow: 3px 3px #CACDFF;
  
  }
  input[type=text]{
    border-radius: 10px;
    border: 1px solid  #AAAFFF;
    -webkit-transition: 0.5; 
    transition: 0.2s;
    outline: none;
  }
  
  input[type=text]:focus{
    border: 2px solid #AAAFFF;
  }
  #searchStudentInput:hover{
    width: 120%;

  }
  
  /* main Table */
  
  .mainTable{
    
    grid-row: 2/3;
    
    width: 100%;
  
    justify-self: center;
    align-self: start;
  
    margin-top: 15px;
  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #CACDFF;
  }
  table,tr{
    text-align: center;
    color: black;
    font-weight: 600;
  
    border-collapse: none;
  }
  td,tr{
    width: 20%;
    border: 1px solid #AAAFFF;
  }
  
  .testBtn{
    
    height: auto;
    width: 100%;
  
    background: none;
    border: none;
    cursor: pointer;
  
    transition-duration : 0.5s ;
  }
  
  .testBtn:hover{
    background-color: #AAAFFF;
  }
  /* profil container-------------------------------------------------------------------*/
  
  .profilContainer{
    
    height: 100%;
    width: 0%;
    background: white;
  
  
  
    display: none;
    flex-direction: row;
    align-content: space-around;
  
  }
  /* profil */
  
  .profil{
    width: 50%;
    height: 80%;
  
    border: solid #AAAFFF;
    border-radius: 15px;
   
    display: none;
    flex-direction: column;
  
    
    
  }
  #photo{
    width: 30%;
    height: 30%;
    align-self: center;
   
  
  }
  .infoPersonal{
    align-self: center;
    font-size: 25px;
  }
  /* historique*/
  .historique{
  
    
    height: 20%;
  }
  
  #text{
    color: #AAAFFF;
  }
  /* side bar profil---------------------------------------------------*/
  .sideBarBtnContainer{
    display: block;
    position:sticky;
    top:50%;
  
  }
  .sideBarBtn{
    width: 50px;
    height: 80px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #AAAFFF;
    transition-duration:0.5s;

    

  }

  .sideBarBtn:hover{
    background-color: #9A9EDE ;
   
  }

  #side{
    height: 100%;
    width: 60%;
    background: #9A9EDE;
    position: fixed;
    z-index: 1;
    top:0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    display: none;
    flex-direction: column;
    row-gap: 25px;

    animation: slideRight 1s;

  }
  #closeBtn{
    align-self: end;
    background-color: #9A9EDE;
  }
  .photoSideContainer{
    align-self: center;
    width: 100px;
    height: auto;
  }
  .infoPersonalSide{
    font-size: 30px;
  }
  .historiqueSide{
    height: 80%;
    background-color: aliceblue;
  }


  /* Footer-----------------------------------------------------------------------------*/
  
  .footer{
    border-top: solid;
  
    background: black;
    color: aliceblue;
    order:3;
    
  }
  
  /*keyframes-------------------------------------------------------------------*/
  @keyframes slideRight {
    from{
      width: 0;
    }
    to{
      width: 60%;
      
    }
    
  }

  
}

@media (max-width:576px) {
  body{
    display: flex;
    flex-direction: column;
    row-gap: 70px;
    
    
  }
  .nav-bar{
    background: black;
    border:solid black;
    height: 100px;
  }
  .menuIcon{
    position: sticky;
    top:50%;




    height: 50px;
    width: 30px;
    background-color: #AAAFFF;


    border-top-right-radius:20px ;
    border-bottom-right-radius:20px ;

    display: grid;
    justify-items: center;
    align-items: center;

    cursor: pointer;
  }


   /* info container*/
   .infoContainer{
    order:2;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
   
  }

  .infoBlock{
    width: 40%;
    height: 80%;
    border: solid #AAAFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #CACDFF;
  
  
    display: grid;
    grid-template-rows: 60% 40%;
    
   
  
  }
  
  .photoContainer{
  
    grid-row: 1/2;
    
    display: block;
    width: 100%;
    height: 100%;
  
  }
  .photo{
    width: 100%;
    height: 100%;  
  }
  .next{
    grid-row: 1/2;
    position: absolute;
    align-self: center;
    justify-self: end;
    cursor: pointer;
    color:#AAAFFF;
  }
  .prev{
    grid-row: 1/2;
    position: absolute;
    align-self: center;
    justify-self: start;
    cursor: pointer;
    color:#AAAFFF;
  
  
  }
  .textContent{
    grid-row:2/3;
  }
  #titleExplanation{
    text-align: start;
    font-size: 20px;
  }
  #explanation{
    font-size: 15px;
  }
  
  /* table Container--------------------------------------------------------------------*/
  
  .tableContainer{
  
    
     
  
     height: auto;  
     
  
     
  }
  
  .tableStudent{
    width: 50%;
    height: auto;
  
    
    display: grid;
    grid-template-columns: 200%;
    grid-template-rows: auto 100%;
    
  }
  
  /* top-table*/
  .topTable{
   
  
    grid-row : 1/2;
    grid-column: span 5;
    display: inline-flex;
 
    justify-content: space-around;
    column-gap: 25px;
   
   
  
    

    
    

   
  
  }
  #addStudentBtn{
    width: 80%;
    height: 100%;

  
    background: aliceblue;
    border: #AAAFFF;
    border-radius:5px;
  
    font-weight: 600;
    color: #AAAFFF;
  
    cursor: pointer;
  
    transition: width 1s;
    
  }
  
  #addStudentBtn:hover{
  
    width: 100%;
  }
  
  #searchStudentInput{
    
    width: 100%;
    height: 60%;
    
    
    margin-top: 5px;
    box-shadow: 3px 3px #CACDFF;
  
  }
  input[type=text]{
    border-radius: 10px;
    border: 1px solid  #AAAFFF;
    -webkit-transition: 0.5; 
    transition: 0.2s;
    outline: none;
  }
  
  input[type=text]:focus{
    border: 2px solid #AAAFFF;
  }
  #searchStudentInput:hover{
    width: 120%;

  }
  
  /* main Table */
  
  .mainTable{
    
    grid-row: 2/3;
    
    width: 100%;
  
    justify-self: center;
    align-self: start;
  
    margin-top: 15px;
  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #CACDFF;
  }
  table,tr{
    text-align: center;
    color: black;
    font-weight: 600;
  
    border-collapse: none;
  }
  td,tr{
    width: 20%;
    border: 1px solid #AAAFFF;
  }
  
  .testBtn{
    
    height: auto;
    width: 100%;
  
    background: none;
    border: none;
    cursor: pointer;
  
    transition-duration : 0.5s ;
  }
  
  .testBtn:hover{
    background-color: #AAAFFF;
  }
  /* profil container-------------------------------------------------------------------*/
  
  .profilContainer{
    
    height: 100%;
    width: 0%;
    background: white;
  
  
  
    display: none;
    flex-direction: row;
    align-content: space-around;
  
  }
  /* profil */
  
  .profil{
    width: 50%;
    height: 80%;
  
    border: solid #AAAFFF;
    border-radius: 15px;
   
    display: none;
    flex-direction: column;
  
    
    
  }
  #photo{
    width: 30%;
    height: 30%;
    align-self: center;
   
  
  }
  .infoPersonal{
    align-self: center;
    font-size: 25px;
  }
  /* historique*/
  .historique{
  
    
    height: 20%;
  }
  
  #text{
    color: #AAAFFF;
  }
  /* side bar profil---------------------------------------------------*/
  .sideBarBtnContainer{
    display: block;
    position:sticky;
    top:50%;
  
  }
  .sideBarBtn{
    width: 50px;
    height: 80px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #AAAFFF;
    transition-duration:0.5s;

    

  }

  .sideBarBtn:hover{
    background-color: #9A9EDE ;
   
  }

  #side{
    height: 100%;
    width: 60%;
    background: #9A9EDE;
    position: fixed;
    z-index: 1;
    top:0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    display: none;
    flex-direction: column;
    row-gap: 25px;

    animation: slideRight 1s;

  }
  #closeBtn{
    align-self: end;
    background-color: #9A9EDE;
  }
  .photoSideContainer{
    align-self: center;
    width: 100px;
    height: auto;
  }
  .infoPersonalSide{
    font-size: 30px;
  }
  .historiqueSide{
    height: 80%;
    background-color: aliceblue;
  }


  /* Footer-----------------------------------------------------------------------------*/
  
  .footer{
    border-top: solid;
  
    background: black;
    color: aliceblue;
    order:3;
    
  }
  
  /*keyframes-------------------------------------------------------------------*/
  @keyframes slideRight {
    from{
      width: 0;
    }
    to{
      width: 60%;
      
    }
    
  }

  
}